.footer{
            display: flex; 
            position: fixed; 
            bottom: 0px; 
            left :0px; 
            right: 0px; 
            justify-content: center; 
            align-items: center; 
            background-color: #00FF00; 
            height: 60px; 
            width: 100%;
        }
